{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durga Todo List App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-section">
        <div class="inner-login">
            <div style="width: 100%; padding: 0px 12px;">
                <header class="task-header">
                    <div class="logo">Durga</div>
                    <div class="log-bar">
                        <div class="bar-holder none" onclick="toggle()">
                            <div class="bar">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                        <div class="log-btn" id="logToggle">
                            <p class="link"><a href="{% url 'home' %}">Home</a></p>
                        </div>
                    </div>
                </header>
            </div>
            <div class="container">
                {% block content %}
                <div class="user-header-holder">
                    <div class="login-user">
                        <h2>Login to Durga Todo List App</h2>
                        <p>Where you can add your todo</p>
                    </div>
                </div>
                <div class="login">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <p class="p">Don't have an account <a href="{% url 'signup' %}">SignUp</a></p>
                        <button type="submit">Login</button>
                    </form>
                </div>
                {% endblock content %}
            </div>
        </div>
        <footer>
            <div class="form-footer">
                <p>&copy; Copyright 2023 coded by Aniebiet</p>
            </div>
        </footer>
    </div>
</body>
<script src="{% static './js/index.js' %}"></script>
</html>