{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durga Todo App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="task-section">
        <div class="task">
            <div style="width: 100%; padding: 0px 12px;">
                <header class="task-header">
                    <div class="logo">Durga</div>
                    <div class="log-bar">
                        <div class="bar-holder none" onclick="toggle()">
                            <div class="bar">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                        <div class="log-btn" id="logToggle">
                            <p class="link"><a href="{% url 'home' %}">Home</a></p>
                        </div>
                    </div>
                </header>
            </div>
            <div class="task-container">
                <div class="inner-container">
                    {% block content %}
                    <div class="user-header-holder">
                        <div class="user">
                            <div>
                                <h2>My <span>Todo</span></h2>
                                {% if count is 0 %}
                                <p>You have <b>{{count}}</b> incomplete task</p>
                                {% else %}
                                <p>You have <b>{{count}}</b> incomplete task{{ count|pluralize:"s" }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <form method="get">
                            <input type="text" name="search-area">
                            <button type="submit">Search</button>
                        </form>
                        <a class="plus" href="{% url 'task-create'%}">&#43;</a>
                    </div>
                    <div class="task-item-wrapper">
                        {% for task in tasks %}
                        <div class="task-wrapper tsk">
                            {% if task.complete %}
                            <div: if  class="task-title">
                                <div class="task-complete-icon"></div>
                                <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                            </div>
                            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215</a>
                            {% else %}
                            <div class="task-title">
                                <div class="task-incomplete-icon"></div>
                                <i><a href="{% url 'task-update' task.id %}" >{{task}}</a></i>
                            </div>
                            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215</a>
                            {% endif %}
                        </div>
                        {% empty %}
                        <h3 class="no-list">No item in items</h3>
                        {% endfor %}
                    </div>
                    {% endblock content %}
                </div>
            </div>
        </div>
        <footer>
            <div class="form-footer">
                <p>&copy; Copyright 2023 coded by Aniebiet</p>
            </div>
        </footer>
    </div>
</body>
<script src="{% static './js/index.js' %}"></script>
</html>